<div class="panel">
  <div class="panel-container  {{ class }} {{ fullHeight ? 'full' : '' }}">
    <h3 *ngIf="title" class="panel-title">{{ title }}</h3>
    <div *ngIf="breadcrumb" class="panel-breadcrumb">
      <div
        *ngFor="let path of breadcrumb; let last = last"
        (click)="path.route ? router.navigateByUrl(path.route) : null"
        class="d-flex align-items-center"
        [ngClass]="{'cursor-pointer': path.route}"
      >
        <h3 class="panel-title">{{ path.name }}</h3>
        <mat-icon *ngIf="!last" class="mx-1">keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <ng-content />
  </div>
</div>
