<section class="panel">
  <div class="panel-container {{ this.class }}">
    <h3 *ngIf="title" class="panel-title">{{ title }}</h3>
    <div *ngIf="breadcrumb" class="panel-breadcrumb">
      <div
        *ngFor="let path of breadcrumb; let last = last"
        (click)="router.navigateByUrl(path.route)"
        class="d-flex align-items-center"
      >
        <h3 class="panel-title">{{ path.name }}</h3>
        <mat-icon *ngIf="!last" class="mx-1">keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <ng-content />
  </div>
</section>
