@import "_colors";
@import "_breakpoints";

.panel{
  min-height: calc(100vh - 60px);
  background-color: $primary-15;
  overflow: auto;
  .panel-container {
    margin: 25px auto;
    max-width: 85%;
    padding: 35px 50px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    .panel-title{
      display: inline-block;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .panel-breadcrumb {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;
      .panel-title{
        flex: 1;
        margin-bottom: 0;
      }
    }
  }
  .full {
    min-height: calc(100vh - 110px);
  }
}

@media (max-width: $breakpoint-md){
  .panel .panel-container {
    padding: 35px;
    max-width: 90%;
  }
}

@media (max-width: $breakpoint-sm){
  .panel .panel-container {
    max-width: 95%;
    padding: 35px 15px;
  }
}
