<form
  class="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  @enterState
>
  <p class="text-center h1 fw-bold mb-5">
    {{ "login.login" | translate }}
  </p>

  <!-- User Name -->
  <app-input-text
    class="mb-5"
    [preText]="'common.email' | translate"
    placeholder='Introduzca su nombre de usuario'
    icon="person"
    [control]="loginForm.controls['email']"
  />

  <!-- Contraseña -->
  <app-input-text
    class="mb-5"
    type='password'
    [preText]="'login.password' | translate"
    placeholder='Introduzca su contraseña'
    icon="lock"
    [control]="loginForm.controls['password']"
  />

  <!-- Botón de inicio de sesión -->
  <div class="d-flex flex-column justify-content-center  align-items-center">
    <p>¿Aún no estas registrado? <a href="/signup">Registrate gratis!</a></p>
    <app-button text='Iniciar Sesion!' icon="person_add" type="submit" />
  </div>
</form>
