@import "_colors";
@import "_variables";
@import "_breakpoints";

.windows-wrapper  {
  position: relative;
  .menu-icon{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 60px;
    z-index: 12;
    mat-icon {
      cursor: pointer;
      padding: 5px;
      color: $primary;
      font-size: 35px;
      border-radius: 5px;
      border: 1px solid transparent;
      font-weight: bold;
      &:hover {
          border: 1px solid $primary;
      }
    }
  }
  .content-wrapper {
    padding-left: 250px;
    transition: padding 0.3s;
    &.close-menu {
        padding-left: 75px;
    }
  }
}

.left-menu {
    position: fixed;
    width: 250px;
    transition: width 0.3s;
    height: auto;
    background-color: white;
    box-shadow: 11px 0 18px 0px #72727226;
    z-index: 10;
    padding: 10px 0;
    left: 0;
    bottom: 0;
    top: 60px;
    overflow-y: auto;
    .left-menu-nav-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        font-size: 17px;
        line-height: 16px;
        color: $primary;
        text-decoration: none;
      }
      & > li {
        margin-top: 20px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a.nav-item {
          display: flex;
          align-items: center;
          border-radius: 10px;
          width: 100% !important;
          height: 50px !important;
          text-decoration: none;
          white-space: nowrap;
          p {
            padding: 10px 10px 10px 0;
            margin-bottom: 0 !important;
          }
          .left-menu-icon {
            flex: 0 1;
            min-width: 75px;
            text-align: center;
            mat-icon {
              color: $primary;
              width: 100%;
              height: 100%;
              font-size: 35px;
            }
          }

          .nav-item-submenu-icon{
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              color: #fff;
              transform: rotate(180deg);
            }
          }
        }
        ul.left-menu-nav-subitems{
          display: none;
          padding-left: 61px;
          width: 100%;
          i {
            color: $primary;
          }
          li.active{
            p{
              color: var(--primary-color);
              font-weight: 600;
            }
          }
        }
      }
      & > li:hover,
      & > li.active {
        a.nav-item {
          p {
            color: var(--primary-color);
            font-weight: 600;
          }
          .left-menu-icon {
            i {
              color: var(--primary-color) !important;
            }
          }
          .nav-item-submenu-icon{
            background-color: var(--primary-color) !important;
            i{
              transform: rotate(0deg);
            }
          }
        }
        ul.left-menu-nav-subitems{
          display: block;
        }
      }
      & > li:hover {
        a.nav-item {
          .left-menu-icon {
            background-color: var(--primary-light-color) !important;
            border-radius: 50%;
          }
        }
      }
      .startups-select {
        display: none;
        margin: 20px 20px 0 20px;
        .input-select-wrapper {
          margin: 0;
        }
      }
    }
    &:not(.show){
      width: 75px;
      .left-menu-nav-items {
        & > li{
          a.nav-item {
            p{
              display: none;
            }
          }
          .nav-item-submenu-icon,
          .left-menu-nav-subitems{
            display: none !important;
          }
        }
      }
      &:hover{
        width: 250px;
        li{
          a.nav-item {
            p{
              display: block !important;
            }
          }
          .nav-item-submenu-icon{
            display: flex !important;
          }
          &.active,
          &:hover{
            .left-menu-nav-subitems{
              display: block !important;
            }
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg){
    body:not(.touchscreen){
      .left-menu {
        width: 0px;
        overflow-x: hidden;
        &.show {
          width: 75px;
        }
        .left-menu-nav-items {
          & > li{
            a.nav-item {
              p{
                display: none;
              }
            }
            .nav-item-submenu-icon,
            .left-menu-nav-subitems{
              display: none;
            }
          }
        }
        &:hover{
          width: 200px;
          li{
            a.nav-item {
              p{
                display: block !important;
              }
            }
            .nav-item-submenu-icon{
              display: flex;
            }
            .left-menu-nav-subitems{
              display: block;
            }
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .windows-wrapper  {
      .content-wrapper {
          padding-left: 0;
          &.close-menu {
              padding-left: 0px;
          }
      }
    }
    .left-menu {
      display: none;
      width: 50vw;
      &.show{
        display: block;
      }
      .left-menu-nav-items .startups-select {
        display: block;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .left-menu {
      width: 75vw;
    }
  }
