@import "_colors";
@import "_variables";
@import "_breakpoints";

.windows-wrapper  {
  position: relative;
  .menu-icon{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 60px;
    z-index: 12;
    mat-icon {
      cursor: pointer;
      padding: 5px;
      color: $primary;
      font-size: 35px;
      border-radius: 5px;
      border: 1px solid transparent;
      font-weight: bold;
      &:hover {
          border: 1px solid $primary;
      }
    }
  }
  .content-wrapper {
    padding-left: 250px;
    transition: padding 0.3s;
    &.close-menu {
        padding-left: 75px;
    }
  }
}

.left-menu {
    position: fixed;
    width: 250px;
    transition: width 0.3s;
    height: auto;
    background-color: white;
    box-shadow: 11px 0 18px 0px #72727226;
    z-index: 10;
    padding: 10px 0;
    left: 0;
    bottom: 0;
    top: 60px;
    overflow-y: auto;
    .left-menu-nav-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        font-size: 17px;
        line-height: 16px;
        color: $primary;
        text-decoration: none;
      }
      & > li {
        margin-top: 20px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a.nav-item {
          display: flex;
          align-items: center;
          border-radius: 10px;
          width: 100% !important;
          height: 50px !important;
          text-decoration: none;
          white-space: nowrap;
          p {
            padding: 10px 10px 10px 0;
            margin-bottom: 0 !important;
          }
          .left-menu-icon {
            flex: 0 1;
            min-width: 75px;
            text-align: center;
            color: $svgColor;
            span {
              font-size: 35px;
              font-weight: lighter;
            }
          }
          &.active, &:hover {
            span, p {
              color: $primary-icon;
            }
            p {
              font-weight: 600;
            }
          }
        }
      }
    }
    &:not(.show){
      width: 75px;
        p { display: none; }
      &:hover{
        width: 250px;
        p { display: block !important; }
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .windows-wrapper  {
      .content-wrapper {
          padding-left: 0px !important;
      }
    }
    .left-menu {
      display: none;
      width: 50vw;
      &.show{
        display: block;
      }
      .left-menu-nav-items .startups-select {
        display: block;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .left-menu {
      width: 75vw;
    }
  }
