<div class="windows-wrapper">
  <div class="menu-icon">
    <mat-icon (click)="this.toggleMenu()">menu</mat-icon>
  </div>
  <div class="left-menu {{ showAside ? 'show' : '' }}">
    <div class="left-menu-sections">
      <ul class="left-menu-nav-items">
        <li *ngFor="let route of routes">
          <a
            class="nav-item"
            [ngClass]="{active: route.active}"
            [routerLink]="['/', authService.user.role, route.path]"
            (click)="closeMenu()"
          >
            <div class="left-menu-icon" >
              <span class="material-icons-outlined">{{ route.icon }}</span>
            </div>
            <p>{{ route.name }}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper {{ !showAside ? 'close-menu' : '' }}">
    <router-outlet />
  </div>
</div>
