<button
  [class]="classes"
  [type]="validTypes.includes(type) ? type : 'button'"
  [disabled]="disabled || loading"
  (click)="emitEvent()"
>
  <span *ngIf="this.icon" class='d-flex align-items-center icon-left'>
    <mat-icon>{{ icon }}</mat-icon>
  </span>
  <span>{{text}}</span>
  <span *ngIf="this.iconRight" class='d-flex align-items-center icon-right'>
    <mat-icon> {{ iconRight }}</mat-icon>
  </span>
  <!--
    {loading && (
      <div className='btn-loader'>
        <LinearProgress />
      </div>
    )} 
  -->
</button>
