<button
  [class]="classes"
  [type]="validTypes.includes(type) ? type : 'button'"
  [disabled]="disabled || loading"
  (click)="emitEvent()"
>
  <span *ngIf="this.icon" class='d-flex align-items-center icon-left'>
    <mat-icon>{{ icon }}</mat-icon>
  </span>
    <span>{{text}}</span>
    <input *ngIf="number"
      tabindex="-1"
      class="input-button"
      type="number"
      placeholder="0"
      [(ngModel)]="inputNumber"
      autocomplete="off"
      (click)="handleInputFocus($event)"
    />
  <span *ngIf="this.iconRight" class='d-flex align-items-center icon-right'>
    <mat-icon> {{ iconRight }}</mat-icon>
  </span>
  <app-skeleton *ngIf="loading" class="btn-loader" height="100%" />
</button>
