<div *ngIf="!this.page" @enterState>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="next()" autocomplete="off">  
    <p class="text-center h1 fw-bold ">Crea una cuenta</p>
    
    <!-- Name -->
    <app-input-text 
      [preText]="'common.name' | translate"
      placeholder='Introduzca su nombre'
      icon="fas fa-user fa-lg fa-fw"
      [control]="registerForm.controls['name']">
    </app-input-text>

    <!-- LastName -->
    <app-input-text 
      [preText]="'user.lastName' | translate"
      placeholder='Introduzca sus apellidos'
      icon="far fa-user fa-lg fa-fw"
      [control]="registerForm.controls['lastName']">
    </app-input-text>

    <!-- Birth Date -->
    <app-input-text 
      [preText]="'user.birthDate' | translate"
      type="date"
      icon="fas fa-calendar-alt fa-lg fa-fw"
      [control]="registerForm.controls['birthDate']">
    </app-input-text>
      

    <!-- Phone Number -->
    <app-input-text 
      [preText]="'user.phone' | translate"
      placeholder='Introduzca su numero telefono'
      icon="fas fa-mobile-alt fa-lg fa-fw"
      [control]="registerForm.controls['phone']"
      type="number"
    ></app-input-text>
          
    <!-- Next Button -->
    <div class="d-flex flex-column justify-content-center align-items-center">
      <p>¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
      <app-button type="submit" text="Siguiente" iconRight="fas fa-arrow-right"></app-button>
    </div>
  </form>
</div>

<div *ngIf="this.page" @enterState>
  <form class="register-form" [formGroup]="registerForm2" (ngSubmit)="signup()">
    <p class="text-center h1 fw-bold ">Crea una cuenta</p>

    <!-- User Name-->
    <app-input-text 
      [preText]="'login.userName' | translate"
      placeholder='Introduzca su nombre de usuario'
      icon="fas fa-user fa-lg fa-fw"
      [control]="registerForm2.controls['username']">
    </app-input-text>

    <!-- Email -->
    <app-input-text 
      [preText]="'common.email' | translate"
      placeholder='Introduzca su email'
      icon="fas fa-envelope fa-lg fa-fw"
      [control]="registerForm2.controls['email']">
    </app-input-text>

    <!-- Password -->
    <app-input-text 
      [preText]="'login.password' | translate"
      placeholder='Introduzca su contraseña'
      icon="fas fa-lock fa-lg fa-fw"
      [control]="registerForm2.controls['password']"
      type="password"
    ></app-input-text>
    

    <!-- Confirm Password -->
    <app-input-text 
      [preText]="'login.confirmPassword' | translate"
      placeholder='Repita la contraseña'
      icon="fas fa-key fa-lg fa-fw"
      [control]="registerForm2.controls['password2']"
      type="password"
    ></app-input-text>
    <!-- Terms of Services -->
    <div class="form-check d-flex justify-content-center">
        <input class="form-check-input me-2" type="checkbox"  id="Terms"/>
        <label class="form-check-label" for="Terms">
            Acepto los <a href="#!">Terminos de servicio</a>
        </label>
    </div>

    <!-- Register button -->
    <div class="d-flex justify-content-center  align-items-center">
        <app-button text="Atras" class='me-3' color='secondary' icon="fas fa-arrow-left" (onClick)="this.page=false"></app-button>
        <app-button type="submit" text="Registrarse" iconRight="fas fa-user-plus"></app-button>    
    </div>

  </form>
</div>