@import "_colors";
@import "_variables";
@import "_breakpoints";
@import "_mixins";

.create-camping {
    position: relative;
}

.map-container {
    position: relative;
    display: block;
    width: 100%;
    border: 2px solid $primary;
    border-radius: $borderRadius;
    overflow: hidden;
    input {
        display: block !important;
        position: relative !important;
        width: 90%;
        border: 2px solid $primary;
        border-radius: $borderRadius;
        margin: 15px auto 0;
        padding: 10px 15px;
    }
}

.location-preText {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 14px;
    font-size: 14px;
    color: $primary;
    font-weight: 700;
    background-color: white;
    z-index: 1;
    padding: 0 10px;
    height: 18px;
}

.camping-unit {
  @include box;
  padding: 25px;
  min-height: 200px
}
