@import "_colors";
@import "_variables";
@import "_breakpoints";

.row-menu {
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    min-width: 100px;
    min-height: auto;
    overflow: hidden;
    .row-menu-item {
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            background-color: $primary-15;
        }
    }
}
