@import "_colors";
@import "_variables";
@import "_breakpoints";

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 2px solid $primary;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .default-img {
    text-align: center;
  }
  .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
  }

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

  }
}