<div
  class="input-container {{ class }}"
  [ngClass]="{
    invalid: !control?.valid && control?.touched,
    filled: control?.value || value,
    disabled: isDisabled,
  }"
>
  <div *ngIf="icon" class="icon">
    <mat-icon>{{ icon }}</mat-icon>
  </div>

  <textarea
    *ngIf="control"
    [id]="preText"
    class="input"
    [style.min-height.px]="minHeight"
    [placeholder]="placeholder"
    [formControl]="control"
    autocomplete="off"
  ></textarea>

  <textarea
    *ngIf="!control"
    [id]="preText"
    class="input"
    [style.min-height.px]="minHeight"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    [(ngModel)]="value"
    (ngModelChange)="emitEvent()"
    autocomplete="off"
  ></textarea>

  <label class="label" [for]="preText" [ngClass]="{ 'icon-label': icon }">
    {{ preText }}
    <span *ngIf="isRequired" class="is_required">*</span>
  </label>

  <app-skeleton *ngIf="loading" class="input-loader" height="100%">
  </app-skeleton>
</div>
