@import '_colors.scss';
@import '_variables.scss';
@import '_breakpoints.scss';
@import "_mixins";

  .popup-container{
    overflow: hidden;
    .popup-head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $spacing;
      background-color: $primary;
      .popup-title{
        color: white;
        margin: 0;
      }
      .popup-close{
        color:white;
        cursor: pointer;
      }
    }
    .popup-content{
      padding: $spacing;
      max-height: calc(100vh - 100px);
      overflow: scroll;
      overflow-y: auto;
      @include simpleScrollbar;
    }
  }

@media (max-width: $breakpoint-sm){
  .popup-container{
    .popup-head, .popup-content{
      padding: 15px;
    }
  }
}
