<!-- Navbar -->
<nav class="nav-bar">
  <ul class="left-buttons">
    <li>
      <span (click)="router.navigateByUrl('/')">Inicio</span>
    </li>
    <li>
      <a href="#">Editar perfil</a>
    </li>
  </ul>
  <div class="left-buttons">
    <div class="d-flex align-items-center" *ngIf="!authService.user">
      <app-button
        text="Iniciar Sesión"
        color="secondary"
        (onClick)="router.navigateByUrl(LOGIN_URL)"
      />
      <app-button
        text="Regístrate Gratis!"
        (onClick)="router.navigateByUrl(SIGNUP_URL)"
        class="ms-2"
      />
    </div>
    <div class="profile-dropdown" *ngIf="authService.user">
      <button class="profile-button">
        <app-avatar
          type="user"
          [size]="50"
          [src]="authService.user.attributes.avatar?._id"
        />
      </button>
      <div class="dropdown-content">
        <a [routerLink]="[authService.user.role, 'profile']">Perfil</a>
        <a [routerLink]="[authService.user.role, 'campings']">Campings</a>
        <a (click)="logout()">Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>
