@import "_colors";
@import "_variables";
@import "_breakpoints";

.input-container-daterange {
  position: relative;
  width: 100%;
  display: flex;
  border: 2px solid $primary;
  border-radius: 5px;
  background: $primary-15;
  height: auto;

  mat-label {
    position: absolute;
    left: 10px;
    top: -13px;
    font-size: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: $primary;
    font-weight: bold;
    cursor: text;
    &::before {
      content: "";
      height: 3px;
      position: absolute;
      left: 0px;
      top: 10px;
      width: 100%;
      z-index: -1;
      background: white;
    }
  }

  mat-datepicker-toggle button {
    padding: 7px;
  }

  mat-date-range-input {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    height: 47px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 7px;
  }

  .mat-date-range-input-separator-hidden {
    opacity: initial;
  }
}

