<form (ngSubmit)="this.page ? finish() : next()">
  <h1 class="text-center mb-5">{{'auth.createManagerAccount' | translate}}</h1>

  <div *ngIf="!this.page" @enterState
    [formGroup]="attributesForm"
    class="register-form"
  >
    <!-- Name -->
    <app-input-text
      [preText]="'common.name' | translate"
      [placeholder]="'auth.enterYourName' | translate"
      [control]="attributesForm.controls['firstname']"
      icon="person"
      class="mb-5"
    />

    <!-- LastName -->
    <app-input-text
      [preText]="'user.lastname' | translate"
      [placeholder]="'auth.enterYourLastName' | translate"
      [control]="attributesForm.controls['lastname']"
      icon="person_outline"
      class="mb-5"
    />

    <!-- Birth Date -->
    <app-input-text
      type="date"
      [preText]="'user.birthDate' | translate"
      [control]="attributesForm.controls['birthDate']"
      icon="date_range"
      class="mb-5"
    />

    <!-- Phone Number -->
    <app-input-text
      type="number"
      [preText]="'user.phone' | translate"
      [placeholder]="'auth.enterYourPhone' | translate"
      [control]="attributesForm.controls['phone']"
      icon="phone"
      class="mb-4"
    />
  </div>

  <div *ngIf="this.page" @enterState class="register-form" [formGroup]="authForm">
    <!-- Email -->
    <app-input-text
      [preText]="'common.email' | translate"
      [placeholder]="'auth.enterYourEmail' | translate"
      [control]="authForm.controls['email']"
      icon="email"
      class="mb-5"
    />

    <!-- Password -->
    <app-input-text
      type="password"
      [preText]="'auth.password' | translate"
      [placeholder]="'auth.enterYourPassword' | translate"
      [control]="authForm.controls['password']"
      icon="lock"
      class="mb-5"
    />

    <!-- Confirm Password -->
    <app-input-text
      type="password"
      [preText]="'auth.confirmPassword' | translate"
      [placeholder]="'auth.confirmYourPassword' | translate"
      [control]="authForm.controls['confirmPassword']"
      icon="key"
      class="mb-2"
    />
    <!-- Terms of Services -->
    <div class="d-flex justify-content-center mb-5">
      <label>
        <input class="me-2" type="checkbox" formControlName="acceptTerms" />
        {{'auth.acceptThe' | translate}} <a routerLink="/terms">{{'auth.termsAndConditions' | translate}}</a>
      </label>
    </div>
  </div>

  <div>
    <p class="text-center">{{'auth.alreadyHaveAccountQuestion' | translate}} <a routerLink="'auth/login'">{{'auth.login' | translate}}</a></p>
    <div class="d-flex justify-content-center align-items-center">
      <app-button
        *ngIf="this.page"
        [text]="'common.back' | translate"
        class="me-3"
        color="secondary"
        icon="arrow_back"
        (onClick)="this.page = false"
      />
      <app-button
        type="submit"
        [text]="this.page ? ('auth.signup' | translate) : ('common.next' | translate)"
        [iconRight]="this.page ? 'person_add' : 'arrow_forward'"
        [loading]="loading"
      />
    </div>
  </div>
</form>
