<div class="left-menu {{showAside ? 'show' : ''}}">
    <div class='left-menu-sections'>
        <ul class='left-menu-nav-items'>
            <li *ngFor="let option of options">
                <a class='nav-item' [routerLink]='option.to' (click)="emitEvent()">
                    <div class='left-menu-icon'>
                        <i [class]="option.icon"></i>
                    </div>
                    <p>{{ option.name }}</p>
                </a>
            </li>
          </ul>      
    </div>
</div>
