.login-img {
  padding: 30px;
}

.alert {
  position: absolute;
  top: 50px;
  right: 50px;
  .mat-icon {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
  }
}
