<app-panel>
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <app-signup-user *ngIf="isUserSignup" />
      <app-signup-manager *ngIf="isManagerSignup" />
      <app-login-form *ngIf="isLogin" />
    </div>

    <div class="col-12 col-md-5 d-flex justify-content-start align-items-center position-relative">
      <div
        class="alert alert-danger fade show position-absolute top-0 end-0"
        role="alert"
        *ngIf="this.authService.getErrors().length"
      >
        <strong>{{this.authService.getErrors()[0].message}}</strong>
        <button
          type="button"
          class="close ml-4"
          data-dismiss="alert"
          aria-label="Close"
          (click)="this.authService.setErrors([])"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="img-container">
          <img
            src='../../../assets/png/ScoutCamp-logo.png'
            class="img-fluid login-img"
            alt="ScoutCamp-logo"
          />
      </div>
    </div>
  </div>
</app-panel>
