$primary: #798777;
$primary-icon: #096a2e;
$primary-15: #7a877826;
$primary-30: #7a87784d;
$primary-50: #7a877880;
$primary-75: #7a8778bf;
$danger: #c3515e;

$textColor: #000000DE;
$textColorLight: #838383;
$borderGrey: #E2E8F0;
$svgColor: #979797;
