//************************** All Mixins ***************************

@mixin box {
  border-radius: $borderRadiusLight;
  background-color: white;
  box-shadow: $boxShadow;
}

@mixin textEllipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
