$boxPadding: 15px;

$boxShadow: 0px 3px 20px #0000001C;
$boxShadowMedium: 0px 3px 9px #00000029;
$boxShadowLight: 0px 3px 6px #00000029;

$borderRadius: 15px;
$borderRadiusMedium: 10px;
$borderRadiusLight: 5px;

$spacing: 25px;
$spacingSM: 15px;
$marginListBetween: 15px;
$marginCols: 30px;

$stickyTop: 115px;
