@import './normalize.scss';
@import './_fonts';
@import './loader.scss';
@import './_breakpoints.scss';
@import './_colors.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: $breakpoint-sm) {
  .buttons {
    flex-direction: column-reverse;
    * {
      width: 100%;
    }
  }
}
