// normalize.scss v1.0

// Reset de estilos
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

// Establecer un ancho del 100% en los elementos de bloque
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  max-width: 100%;
}

// Hacer que los elementos de bloque se comporten como bloques
article,
aside,
blockquote,
body,
div,
footer,
header,
nav,
section {
  display: block;
}

// Añadir estilos para los enlaces
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

// Añadir estilos para las listas
ul,
ol {
  list-style: none;
}

// Añadir estilos para las imágenes
img {
  max-width: 100%;
  height: auto;
}
