<div class="row mb-2">
  <!-- <div class="table-search-wrap {{searchClassName}}" *ngIf="config.search">
    <input placeholder="Search" class="form-control" [formControl]="term" />
    <i class="fa fa-search search-icon" aria-hidden="true"></i>
  </div>
  <div class="col additional-filters" *ngIf="config.additionalFilters">
    <ng-content select="[additionalFilters]"></ng-content>
  </div>
  <div class="pl-0 text-right col-show-row" *ngIf="config.limit">
    Show
    <select class="form-control page-count mr-0" (change)="onChangeTable($event, 'row')">
      <option *ngFor="let item of rows" [selected]="config.defaultRowCount === item" [value]="item">{{item}}</option>
    </select>
  </div>
</div> -->
<div [appSpinner]="loading">
  <!-- <div [ngClass]="{'table-responsive': config.responsive}"> -->
    <table class="table mb-2">
      <thead class="thead-default">
        <tr>
          <th *ngFor="let column of columns" (click)="column.sortable && sortTable(column)">
            <span class="table-head d-inline-block position-relative">
              {{column.name}}
            </span>
          </th>
        </tr>
      </thead>
      <tbody table body>
        <tr *ngFor="let row of rows.items; let i=index">
          <td *ngFor="let column of columns">
            <span class="">
              {{renderField(row, column)}}
            </span>
          </td>
        </tr>
        <tr *ngIf="rows.total === 0">
            <td [attr.colspan]="columns.length">No data available in table</td>
        </tr>
    </tbody>    
  </table>
  </div>
  <!-- <div class="row" *ngIf="config.paging && totalResults > 0">
    <div class="col-md-12">
      <div class="pull-right">
        <app-pagination (pageChange)="onChangeTable($event, 'paging')" [pageSize]="tableData.rows"
          [collectionSize]="totalResults" [(page)]="tableData.page" [boundaryLinks]="true" [maxSize]="5">
        </app-pagination>
      </div>
      <div class="pull-left mt-2">
        Showing {{start}} to {{(start + results.length) -1}} of {{totalResults}} entries
      </div>
    </div>
  </div> -->
</div>