<div class="table-responsive">
  <ng-container *ngIf="mode === 'component'">
    <div *ngIf="rows().total && !loading">
      <ng-template *ngFor="let row of rows().items; let i = index"
        [ngComponentOutlet]="rowComponent"
        [ndcDynamicInputs]="rowInputs(row)"
        [ndcDynamicOutputs]="{ onChange: this.fetchPage }"
      />
    </div>

    <div *ngIf="loading">
      <ng-template *ngFor="let row of [].constructor(paginator?.pageSize || pageSize); let i = index"
        [ngComponentOutlet]="rowComponent"
        [ndcDynamicInputs]="{ _id: i, loading: true }"
      />
    </div>
    <div *ngIf="!rows().total" class="empty-svg">
      <img src="assets/svg/empty_campsite.svg" />
      <div>{{'common.empty' | translate }}</div>
    </div>
  </ng-container>

  <div *ngIf="mode === 'row'">
    <table class="table mb-0">
      <thead>
        <tr>
          <th
            *ngFor="let column of columns"
            (click)="sortTable(column)"
            [ngStyle]="column.width ? { 'width': column.width + 'px' } : {}"
          >
            {{ column.name }}
          </th>
        </tr>
      </thead>
      <tbody table body>
        <ng-container *ngIf="!loading; else skeletonContainer">
          <tr *ngFor="let row of rows().items; let i = index" (click)="onClickRow.emit(row)" [ngClass]="{'cursor-pointer': onClickRow.observed}">
            <td *ngFor="let column of columns">
              <div class="d-flex align-items-center">
                <ng-container [ngSwitch]="column.type">
                  <app-table-row-menu *ngSwitchCase="'menu'"
                    [row]="row"
                    [buttons]="column.buttons"
                  />
                  <ng-container *ngSwitchCase="'component'">
                    <ng-template
                      [ngComponentOutlet]="column.component"
                      [ndcDynamicInputs]="column.componentInputs(row)"
                      [ndcDynamicOutputs]="column.componentOutputs(row)"
                    />
                  </ng-container>
                  <div *ngSwitchCase="'html'" [innerHTML]="renderField(row, column)"></div>
                  <app-avatar *ngSwitchCase="'avatar'" [title]="renderAvatar(row, column)" [size]="45" [src]="renderField(row, column)" />
                  <span *ngSwitchDefault>{{ renderField(row, column) }}</span>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #skeletonContainer>
          <tr
            *ngFor="
              let row of [].constructor(paginator?.pageSize || pageSize || 5);
              let i = index
            "
          >
            <td *ngFor="let column of columns">
              <app-skeleton />
            </td>
          </tr>
        </ng-template>
      </tbody>
      <tfoot *ngIf="!rows().total">
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="empty-svg">
              <img src="assets/svg/empty_campsite.svg" />
              <div>{{ 'common.empty' | translate }}</div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<mat-paginator *ngIf="loading || (rows().total && showPagination)"
  [length]="rows().total"
  [pageIndex]="actualPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  [showFirstLastButtons]="true"
/>
