@import '_colors.scss';
@import "_mixins";

.table-responsive {
  overflow-x: auto;
  @include simpleScrollbar;
}

.table {
  th {
    font-weight: 700;
  }
  td {
    vertical-align: middle;
  }
  ::ng-deep .input-container {
    .input {
      padding: 0 10px !important;
      height: auto !important;
    }
    .label {
      display: none !important;
    }
  }
}

.empty-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-height: 400px;
  }
}

::ng-deep .mdc-list-item--selected .mdc-list-item__primary-text, .mdc-list-item--activated .mdc-list-item__primary-text {
  color: $primary !important;
  font-weight: 700;
}
