<form
  class="login-form"
  [formGroup]="recoveryForm"
  (ngSubmit)="recoveryPassword()"
  @enterState
>
  <p class="text-center h1 fw-bold">
    {{ "auth.recoveryPassword" | translate }}
  </p>
  <p class="text-center mb-4">{{ 'auth.recoveryPasswordMessage' | translate}}</p>

  <!-- Password -->
  <app-input-text
    type="password"
    [preText]="'auth.password' | translate"
    [placeholder]="'auth.enterYourPassword' | translate"
    [control]="recoveryForm.controls['password']"
    icon="lock"
    class="mb-5"
  />

  <!-- Confirm Password -->
  <app-input-text
    type="password"
    [preText]="'auth.confirmPassword' | translate"
    [placeholder]="'auth.confirmYourPassword' | translate"
    [control]="recoveryForm.controls['confirmPassword']"
    icon="key"
    class="mb-5"
  />

  <!-- Botón de recuperar contraseña -->
  <div class="d-flex justify-content-center">
    <app-button
      [text]="'auth.recoveryPassword' | translate"
      icon="person_add"
      type="submit"
      [disabled]="!recoveryForm.controls['password'].value || !recoveryForm.controls['confirmPassword'].value"
      [loading]="loading"
    />
  </div>
</form>
