@import "_breakpoints";

.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 110px);
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  .img-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    img {
      max-height: 400px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .home {
    .img-container {
      height: auto;
    }
  }
}
