@import "_breakpoints";

.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 110px);
  h1, h5 {
    text-align: center;
    margin-bottom: 10px;
  }
  h5 { margin-bottom: 50px }
  .img-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    img {
      min-height: 278px;
      max-height: calc(100vh - 453px);
    }
  }
}

@media (max-width: $breakpoint-md) {
  .home {
    .img-container {
      height: auto;
    }
  }
}
