<div
  [title]="this.title"
  [style.min-width.px]="size"
  [style.width.px]="size"
  [style.height.px]="size"
  [style.font-size.px]="size"
  [ngClass]="{ default: !src && !loading }"
  [class]="'avatar ' + this.class"
>
  <ng-container *ngIf="!loading">
    <div *ngIf="!src" class="letter-img">
      {{ title | truncate : 1 : "" | uppercase }}
    </div>

    <img *ngIf="src" [src]="FILES_BASE_URL + src" alt="avatar" />
  </ng-container>
  <app-skeleton height="100%" [width]="100" *ngIf="loading" />
</div>
