@import "_colors";
@import "_variables";
@import "_breakpoints";

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  position: relative;
  background: white;
  border: 2px solid $primary;
  border-radius: 5px;

  .label {
    position: absolute;
    left: 10px;
    top: 13px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 0;
    color: $primary;
    font-weight: bold;
    cursor: text;
    &.icon-label {
      left: 40px;
    }
    &::before {
      content: "";
      height: 3px;
      position: absolute;
      left: 0px;
      top: 10px;
      width: 100%;
      z-index: -1;
    }
  }

  .icon{
    display: flex;
    padding-left: 10px;
    align-items: center;
    background-color: $primary-15;
  }
  .arrow-options-icon{
    position: absolute;
    right: 10px;
    top: 15px;
    color: $primary;
  }

  .input {
    border: none;
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    background: $primary-15;    
    &:focus + .label {
      top: -13px;
      font-size: 14px;
      &::before {
        background: white;
      }
    }
    &:focus::placeholder {
      opacity: 1;
    }
    &::placeholder {
      font-size: 16px;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  input[type="date"] {
    color: transparent;

    &:focus {
      color: black;
    }
  }

  &.invalid{
    border: 2px solid red;
  }


  &.filled {
    .label {
      top: -13px;
      font-size: 14px;
      &::before {
        background: white;
      }
    }
    .input {
      color: $text-color;
    }
  }

  &.disabled {
    input, .icon {
      background-color: #EFEAD8CC;
    }
  }
}

.input-options {
  position: relative;
  top:-8px;
  width: 100%;
  background: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid $primary;
  border-top: 2px dashed $primary;
  z-index: 1;
  .input-options-option {
    border: 2px solid transparent;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    &.selected, &:hover {
      border: 2px solid $primary;
      border-radius: 5px;
      background-color: $primary-15;
    }
  }
}
