@import "_colors";
@import "_variables";
@import "_breakpoints";

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  position: relative;
  background: white;
  border: 2px solid $primary;
  border-radius: 5px;

  .label {
    position: absolute;
    height: 25px;
    left: 10px;
    top: 13px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 0;
    color: $primary;
    font-weight: bold;
    cursor: text;
    &.icon-label {
      left: 40px;
    }
  }

  .icon{
    display: flex;
    padding-left: 10px;
    align-items: center;
    background-color: $primary-15;
  }
  .arrow-options-icon{
    position: absolute;
    right: 10px;
    top: 15px;
    color: $primary;
  }

  .input {
    border: none;
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    background: $primary-15;
    .input-options {
      position: absolute;
      top: 50px;
      left: -2px;
      background: $primary-15;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 2px solid $primary;
      border-top: 2px dashed $primary;
      width: calc(100% + 4px);
      z-index: 1;
      .input-options-option {
        border: 2px solid transparent;
        margin: 5px;
        padding: 5px 10px;
        cursor: pointer;
        &.selected, &:hover {
          border: 2px solid $primary;
          border-radius: 5px;
          background-color: $primary-15;
        }
      }
    }
    &:focus {
      color: $textColor;
    }
    &:focus + .label {
      top: -14px;
      font-size: 14px;
      &::before {
        content: "";
        height: 3px;
        background: white;
        position: absolute;
        left: 0px;
        top: 11.5px;
        width: 100%;
        z-index: -1;
      }
    }
    &:focus::placeholder {
      opacity: 1;
    }
    &::placeholder {
      font-size: 16px;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &.invalid{
    border: 2px solid red;
  }


  &.filled {
    .label {
      top: -13px;
      font-size: 14px;
    }
    .input {
      color: $text-color;
    }
  }

  &.disabled {
    background: #DFDFDF;
    .label::before {
      background: #DFDFDF;
    }
    input {
      background-color: transparent;
    }
  }
}
