<div class="camping-searcher">
  <app-input-cities
    class="camping-searcher--cities"
    [preText]="'campsite.location' | translate"
    [placeholder]="'campsite.location' | translate"
    [(value)]="this.location"
    [loading]="loading"
    (cityChange)="handleCityChange($event)"
  />
  <div class="camping-searcher--dates">
    <app-input-date-range
      [value]="{ start: this.entryDate, end: this.exitDate}"
      (valueChange)="handleDateChange($event)"
    />
  </div>
  <app-input-text
    type="number"
    icon="person_outline"
    class="camping-searcher--people"
    [placeholder]="'campsite.capacity' | translate"
    [(value)]="this.capacity"
    [loading]="loading"
  />
  <app-button
    class="camping-searcher--searchBtn"
    [text]="'campsite.search' | translate"
    icon="search"
    (onClick)="emitValues()"
  />
</div>
