<app-panel
  [title]="'auth.termsAndConditions' | translate | titlecase"
  [fullHeight]="true"
>
  <div class="paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam
    tincidunt finibus. Fusce ac placerat nisi, nec ullamcorper velit.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames
    ac turpis egestas. Suspendisse potenti. Praesent non luctus lectus, ac
    dapibus orci. Integer augue odio, tincidunt dignissim turpis sed, iaculis
    eleifend ex. In varius facilisis sem, at elementum nisl rutrum ut.
    Pellentesque urna enim, interdum nec enim malesuada, ultricies imperdiet
    metus. Sed dapibus eu erat condimentum dignissim. Suspendisse fermentum
    dolor sed quam ullamcorper, a interdum felis blandit. Nam quis enim aliquet,
    sodales ex quis, vehicula turpis.
  </div>
  <div class="paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt
    urna vitae molestie cursus. Proin eu consequat dui, ut porttitor nisl. Nulla
    facilisi. Donec congue, ante a euismod tempus, lacus ligula accumsan arcu,
    accumsan dignissim diam sapien nec lacus. Aliquam nisl neque, efficitur eget
    euismod rutrum, posuere vitae ante. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Vestibulum egestas neque nisi, ut gravida urna
    porta ac. Maecenas vel tempor elit. Vestibulum convallis dolor in egestas
    posuere. Aenean felis sem, posuere congue tincidunt ultricies, sagittis eget
    lectus. Sed sit amet nisi sit amet massa rhoncus dictum nec eget ex. In et
    nisi pretium, pulvinar lacus sed, bibendum tellus.
  </div>
  <div class="paragraph">
    Praesent ultrices convallis sapien. Sed sit amet sapien mi. Sed euismod
    rhoncus ultricies. Integer et hendrerit velit. Nunc et auctor quam.
    Suspendisse rutrum convallis blandit. Mauris tempor metus eu libero pretium
    elementum. Proin nibh dui, congue ac eleifend et, feugiat a eros. Donec
    vehicula eget nisl vel elementum. Quisque dapibus ullamcorper urna et
    aliquam.
  </div>
  <div class="paragraph">
    Proin fermentum porttitor lectus, ut commodo justo mollis ut. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Phasellus nec consequat libero.
    Phasellus pharetra tincidunt ex, rhoncus maximus augue mollis pharetra. Sed
    sollicitudin est dictum justo euismod tempor. Cras pulvinar ipsum at
    hendrerit vehicula. Vivamus aliquam leo odio, nec pulvinar mi auctor at.
    Donec luctus eros sed consectetur accumsan. In mollis tempor metus non
    consequat. Sed congue pretium eleifend.
  </div>
  <div class="paragraph">
    Donec suscipit eros non sapien maximus posuere. Curabitur sollicitudin arcu
    eu molestie vehicula. Quisque eget massa a nibh faucibus iaculis id sed leo.
    Nunc non nisi pulvinar, molestie tellus a, porta urna. Morbi mauris nisi,
    lobortis et neque mattis, convallis iaculis massa. Aenean vitae placerat
    neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
    laoreet ultricies urna, ut malesuada metus lacinia sit amet. Mauris quis
    mauris commodo, auctor justo ac, scelerisque purus.
  </div>
</app-panel>
