<app-panel [title]="'campsite.availableCampsitesList' | translate">
  <app-camping-searcher
    [lat]="lat"
    [lng]="lng"
    [type]="type"
    [entryDate]="entryDate"
    [exitDate]="exitDate"
    [capacity]="capacity"
    (onInit)="location = $event"
    (onSearch)="updateSearchParams($event)"
  />

  <h5 class="mb-2">{{ 'campsite.showingCampsitesNear' | translate}} {{ location }}</h5>
  <app-table
    mode="component"
    [rowComponent]="campingRowType"
    [componentInputs]="componentInputs"
    [externalInputs]="{ entryDate: this.entryDate, exitDate: this.exitDate }"
    [fetch]="getCampingList"
    [forceFetch]="forceFetch"
    [pageSize]="10"
  />
</app-panel>
