<input type="text" #mapSearchField class="d-none" />

<h6 class="fw-b">{{ "campsite.addLocation" | translate }}</h6>
<google-map
  class="map-container"
  width="100%"
  [options]="mapConfigurations"
  [center]="center"
>
  <map-marker
    *ngIf="this.camping?.location?.coords?.coordinates"
    [position]="getLatLang()"
    [options]="{ draggable: false }"
  />
</google-map>

<div class="row mt-4">
  <div class="col-12 col-sm-9 mb-4">
    <app-input-text
      [preText]="'campsite.street' | translate"
      [(value)]="this.camping.location.street"
      [isDisabled]="true"
    />
  </div>
  <div class="col-12 col-sm-3 mb-4">
    <app-input-text
      [preText]="'campsite.number' | translate"
      [(value)]="this.camping.location.streetNumber"
    />
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.locality' | translate"
      [(value)]="this.camping.location.locality"
      [isDisabled]="true"
    />
  </div>
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.postalCode' | translate"
      [(value)]="this.camping.location.postalCode"
    />
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.country' | translate"
      [(value)]="this.camping.location.country"
      [isDisabled]="true"
    />
  </div>
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.city' | translate"
      [(value)]="this.camping.location.city"
      [isDisabled]="true"
    />
  </div>
</div>
