<input type="text" #mapSearchField class="d-none" />

<h6 class="fw-b">{{ "campsite.addLocation" | translate }}</h6>
<google-map
  class="map-container"
  width="100%"
  [options]="mapConfigurations"
  [center]="center"
>
  <map-marker
    *ngIf="this.formGroup.get('coords').value.coordinates.length"
    [position]="latLang"
    [options]="{ draggable: false }"
  />
</google-map>

<div class="row mt-4">
  <div class="col-12 col-sm-9 mb-4">
    <app-input-text
      [preText]="'campsite.street' | translate"
      [control]="formGroup?.controls?.['street']"
      [isDisabled]="true"
    />
  </div>
  <div class="col-12 col-sm-3 mb-4">
    <app-input-text
      [preText]="'campsite.number' | translate"
      [control]="formGroup?.controls?.['streetNumber']"
    />
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.locality' | translate"
      [control]="formGroup?.controls?.['locality']"
      [isDisabled]="true"
    />
  </div>
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.postalCode' | translate"
      [control]="formGroup?.controls?.['postalCode']"
    />
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.country' | translate"
      [control]="formGroup?.controls?.['country']"
      [isDisabled]="true"
    />
  </div>
  <div class="col-12 col-sm-6 mb-4">
    <app-input-text
      [preText]="'campsite.city' | translate"
      [control]="formGroup?.controls?.['city']"
      [isDisabled]="true"
    />
  </div>
</div>
