<form
  class="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="forgotPassword()"
  @enterState
>
  <p class="text-center h1 fw-bold">
    {{ "auth.recoveryPassword" | translate }}
  </p>
  <p class="text-center mb-4">{{ 'auth.recoveryPasswordMessage' | translate}}</p>

  <!-- User Name -->
  <app-input-text
    class="mb-5"
    [preText]="'common.email' | translate"
    [placeholder]="'auth.enterYourEmail' | translate"
    icon="person"
    [control]="loginForm.controls['email']"
  />

  <!-- Botón de recuperar contraseña -->
  <div class="d-flex justify-content-center">
    <app-button
      [text]="'auth.recoveryPassword' | translate"
      icon="person_add"
      type="submit"
      [disabled]="!loginForm.controls['email'].value"
      [loading]="loading"
    />
  </div>
</form>
