<app-panel [breadcrumb]="breadcrumb" class="create-camping">
  <div [ngSwitch]="page">
    <div *ngSwitchCase="0">
      <h6 class="fw-b mb-4">{{ "campsite.addNameDescription" | translate }}</h6>
      <app-input-text
        [preText]="'common.name' | translate"
        [control]="firstPageForm?.controls?.['name']"
        [loading]="loading"
        class="mb-4"
      />
      <app-input-text-area
        [preText]="'common.description' | translate"
        [control]="firstPageForm?.controls?.['description']"
        [loading]="loading"
        class="mb-5"
      />
      <h6 class="fw-b mb-3">{{ "campsite.addImages" | translate }}</h6>
      <app-input-file-zone
        [preText]="'campsite.addLodging' | translate"
        [control]="firstPageForm?.controls?.['images']"
        [isMultiple]="true"
        [isRequired]="true"
        [isLoading]="loading"
      />
    </div>

    <app-create-camping-location *ngSwitchCase="1" [formGroup]="secondPageForm" />

    <app-create-camping-lodgings *ngSwitchCase="2" [camping]="id" [formArray]="thirdPageForm" />

    <div *ngSwitchCase="3">
      <app-input-text-area
        [preText]="'campsite.amenities' | translate"
        [control]="fourthPageForm?.controls?.['amenities']"
        [loading]="loading"
        class="mb-4"
      />
      <app-input-text-area
        [preText]="'campsite.rules' | translate"
        [control]="fourthPageForm?.controls?.['rules']"
        [loading]="loading"
        class="mb-4"
      />
      <app-input-text-area
        [preText]="'campsite.nearestLocations' | translate"
        [control]="fourthPageForm?.controls?.['nearestLocations']"
        [loading]="loading"
        class="mb-4"
      />
    </div>
  </div>

  <div class="buttons mt-4">
    <app-button
      *ngIf="page > 0"
      color="secondary"
      [text]="'common.back' | translate"
      [loading]="loading"
      (onClick)="pageBack()"
    />
    <app-button
      [text]="page < 3
        ? ('common.next' | translate)
        : (id ? ('common.update' | translate) : ('common.create' | translate))"
      [loading]="loading"
      (onClick)="handleSubmit()"
    />
  </div>
</app-panel>
