@import '_colors.scss';

.camping-booking {
  padding: 0 30px;
  .camping-booking--selected {
    background-color: $primary-15;
    padding: 20px;
    ul {
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
