<div class="dialog">
  <div class="dialog-content">
    <ng-container *ngIf="data.type === 'confirm'">
      <h4 class="fw-b">{{ data.text }}</h4>

      <div class="buttons mt-3">
        <app-button [text]="'common.cancel' | translate" (onClick)="close(false)" color="danger"></app-button>
        <app-button [text]="'common.accept' | translate" (onClick)="close(true)"></app-button>
      </div>
    </ng-container>

    <ng-container *ngIf="data.type === 'loading'">
      <app-loader mode="dialog"></app-loader>
    </ng-container>
  </div>
</div>
