@import "_colors";
@import "_variables";
@import "_breakpoints";

.camping-row {
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $primary-50;
  border-radius: $borderRadiusLight;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: $primary-15;
  }

  .camping-row--img {
    flex:  0 0 180px;
    position: relative;
    .favorite-icon {
      position: absolute;
      top: 3px;
      right: 3px;
      background-color: white;
      width: 25px;
      height: 25px;
      &.liked {
        background-color: red;
      }
      &.loading {
        background-color: lightgray;
        animation: heartbeat 1s ease infinite;
      }
    }

    img {
      border-radius: 1px;
      height: 140px;
      object-fit: cover;
    }
  }

  .camping-row--data {
    width: 100%;
    .camping-row--header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .camping-row--name {
        font-size: 18px;
        font-weight: 700;
      }
      .camping-row--location,
      .camping-row--capacity {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $textColorLight;
        span, .mat-icon {
          font-size: 14px;
        }
      }
      .camping-row--ratings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 10px;
        border-radius: $borderRadiusLight;
        background-color: $primary-50;
      }
      .camping-row--actions {
        mat-icon {
          color: $svgColor;
          &:hover {
            color: $textColor;
          }
        }
      }
    }

    .camping-row--description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


@media (max-width: $breakpoint-md) {
  .camping-row {
    flex-direction: column;
    .camping-row--img {
      flex: auto;
      img {
        width: 100%;
      }
    }
  }
}

