<app-panel class="update-profile">
    <div *ngIf="!this.loading">
        <h2 class="text-center">{{'user.modifyProfile' | translate | uppercase }}</h2>
        <div class="row mt-4">
            <div class="col-12">
                <app-input-text 
                    [preText]="'common.email' | translate" 
                    [(value)]="this.user.email" 
                    [isDisabled]="true">
                </app-input-text>
            </div>
            <div class="col-12 col-md-4">
                <app-input-text 
                    [preText]="'common.name' | translate" 
                    [(value)]="this.user.attributes.firstname">
                </app-input-text>
            </div>
            <div class="col-12 col-md-8">
                <app-input-text 
                    [preText]="'user.lastName' | translate" 
                    [(value)]="this.user.attributes.lastname">
                </app-input-text>
            </div>
            <div class="col-12 col-md-6">
                <app-input-text 
                    [preText]="'user.birthDate' | translate" 
                    [(value)]="this.user.attributes.birthDate" 
                    type="date">
                </app-input-text>
            </div>
            <div class="col-12 col-md-6">
                <app-input-select 
                    preText="{{'user.lang' | translate}}" 
                    [(value)]="this.user.lang" 
                    [options]="this.getLangs()">
                </app-input-select>
            </div>
        </div>
        
        <div class="d-flex justify-content-end">
            <app-button [text]="'common.update' | translate" (onClick)="this.updateProfile()"></app-button>
        </div>
    </div>
</app-panel>
