<app-panel class="update-profile" [title]="'user.modifyProfile' | translate">
  <div class="d-flex justify-content-center">
    <app-input-avatar
      preText="Introduzca su avatar"
      [isRequired]="true"
      [isPublic]="true"
      [(value)]="this.user.attributes.avatar"
    />
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <app-input-text
        [preText]="'common.email' | translate"
        [(value)]="this.user.email"
        [isDisabled]="true"
        [loading]="loading"
      />
    </div>
    <div class="col-12 col-md-4">
      <app-input-text
        [preText]="'common.name' | translate"
        [(value)]="this.user.attributes.firstname"
        [loading]="loading"
      />
    </div>
    <div class="col-12 col-md-8">
      <app-input-text
        [preText]="'user.lastName' | translate"
        [(value)]="this.user.attributes.lastname"
        [loading]="loading"
      />
    </div>
    <div class="col-12 col-md-4">
      <app-input-text
        [preText]="'user.birthDate' | translate"
        [(value)]="this.user.attributes.birthDate"
        type="date"
        [loading]="loading"
      />
    </div>
    <div class="col-12 col-md-4">
      <app-input-text
        type="number"
        [preText]="'user.phone' | translate"
        [(value)]="this.user.attributes.phone"
        [loading]="loading"
      />
    </div>
    <div class="col-12 col-md-4">
      <app-input-select
        [preText]="'user.lang' | translate"
        [placeholder]="'user.lang' | translate"
        [(value)]="this.user.lang"
        [options]="this.langs"
        [loading]="loading"
      />
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <app-button
      [text]="'common.update' | translate"
      (onClick)="this.updateProfile()"
      [loading]="loading"
    />
  </div>
</app-panel>
