<ng-container>

  <div class="buttons mb-4">
    <app-button
      [text]="'camping.addUnit' | translate"
      (onClick)="openUnitModal()"
    ></app-button>
  </div>

    <div class="row">
      <div
        *ngFor="let unit of this.camping.units"
        class="camping-unit col-12 col-sm-6 col-md-4"
        (click)="openUnitModal(unit._id)"
      >
        <h4 class="fw-b">{{unit.name}}</h4>
        <span class="fs-sm">{{unit.type}}</span>
      </div>
  </div>

    <ng-template #popupTemplate>
      <div class="row">
        <div class="col-12 col-md-4 mb-4">
          <app-input-select
            [preText]="'common.type' | translate"
            [(value)]="this.actualUnit.type"
            [options]="[
              { id: 'bungalow', name: 'camping.bungalow' | translate},
              { id: 'campsite', name: 'camping.campsite' | translate},
              { id: 'other', name: 'common.other' | translate} ]"
            ></app-input-select>
        </div>
        <div class="col-12 col-md-8 mb-4">
          <app-input-text
            [preText]="'common.name' | translate"
            [(value)]="this.actualUnit.name"
          ></app-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 mb-4">
          <app-input-text
            [preText]="'camping.feePerNight' | translate"
            [(value)]="this.actualUnit.feePerNight"
          ></app-input-text>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <app-input-text
            [preText]="'camping.size' | translate"
            [(value)]="this.actualUnit.size"
          ></app-input-text>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <app-input-text
            [preText]="'camping.capacity' | translate"
            [(value)]="this.actualUnit.capacity"
          ></app-input-text>
        </div>
      </div>

      <div class="buttons">
        <app-button
          *ngIf="actualUnit._id"
          [text]="'common.delete' | translate"
          color="danger"
          (onClick)="deleteCampingUnit()"
        ></app-button>
        <app-button
          [text]="actualUnit._id ? ('camping.editUnit' | translate) : ('camping.addUnit' | translate)"
          (onClick)="addCampingUnit()"
        ></app-button>
      </div>
    </ng-template>
</ng-container>
