<div class="camping-row" [routerLink]="_id" *ngIf="!loading">
  <div class="camping-row--name">{{ name }}</div>
  <div class="camping-row--description">{{ description }}</div>
  <!-- <div class="camping-row--creationDate">{{ createdAt | formatDate }}</div> -->

  <div class="camping-actions">
    <mat-icon (click)="handleEditCamping($event)">edit</mat-icon>
    <mat-icon (click)="handleDeleteCamping($event)">delete</mat-icon>
  </div>
</div>

<div class="camping-row" *ngIf="loading">
  <app-skeleton class="mb-2" />
  <app-skeleton class="mb-2" />
  <app-skeleton />
</div>
