<div
  class="input-container
  {{ !this.control?.valid && this.control?.touched ? 'invalid' : '' }}
  {{ this.control?.value || this.value ? 'filled' : '' }}
  {{ this.isDisabled ? 'disabled' : '' }}
  {{ this.class }}"
>
  <ng-container>
    <div class="icon">
      <mat-icon>{{ this.icon }}</mat-icon>
    </div>
    <input *ngIf="this.control"
      class="input"
      [id]="preText"
      [type]="this.type"
      [placeholder]="this.placeholder"
      [formControl]="this.control"
      autocomplete="off"
    />

    <input *ngIf="!this.control"
      class="input"
      [id]="preText"
      [type]="this.type"
      [placeholder]="this.placeholder"
      [disabled]="this.isDisabled"
      [(ngModel)]="value"
      (ngModelChange)="this.emitEvent()"
      autocomplete="off"
    />
  </ng-container>

  <label class="label {{ this.icon ? 'icon-label' : '' }} " [for]="preText">
    {{ preText }}
    <span *ngIf="isRequired" class="is_required">*</span>
  </label>

  <app-skeleton *ngIf="loading"
    class="input-loader"
    height="100%"
  />
</div>
