<div class="input-container 
  {{!this.control?.valid && this.control?.touched ? 'invalid' : ''}} 
  {{this.control?.value || this.value  ? 'filled' : ''}}
  {{this.isDisabled ? 'disabled' : '' }} 
  {{this.class}}"
>
  <div class="icon">
    <i [class]="this.icon"></i>
  </div>

  <input *ngIf='this.control'
    [id]="preText"
    class="input"
    [type]='this.type'
    [placeholder]='this.placeholder'
    [formControl] ="this.control"
    autocomplete="off"
  />

  <input *ngIf='!this.control'
    [id]="preText"
    class="input"
    [type]='this.type'
    [placeholder]='this.placeholder'
    [disabled]="this.isDisabled"
    [(ngModel)]='value'
    (ngModelChange)='this.emitEvent()'
    autocomplete="off"
  />
  <label 
    class="label {{ this.icon ? 'icon-label' : '' }} " 
    [for]="preText"
  >
    {{preText}}
    <span *ngIf='isRequired' class='is_required'>*</span>
  </label>
</div>