/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

h1, h2 {
    font-weight: 700;
}
