@import '_colors.scss';
@import '_variables.scss';

.camping-location {
  padding: 25px;
  margin-bottom: 20px;
  .map-container {
    border-radius: $borderRadiusLight;
    overflow: hidden;
    margin-top: 10px;
    border: 2px solid $primary;
  }
  .camping-location--street {
    display: flex;
    align-items: center;
    color: $textColor;
    mat-icon {
      font-size: 18px;
      color: $textColor;
      margin-right: 8px;
    }
  }
}
