<section class="camping-location">
  <h2 class="text-center mb-3">{{ 'campsite.location' | translate }}</h2>
  <div class="camping-location--street">
    <mat-icon>directions_walk</mat-icon>
    {{ 'campsite.street' | translate }}: {{ street }}
  </div>
  <div class="camping-location--street">
    <mat-icon>business</mat-icon>
    {{ 'campsite.city' | translate }}: {{ city }}
  </div>
  <div class="map-container">
    <google-map [options]="options" width="100%">
      <map-marker
        #marker="mapMarker"
        [position]="markerPosition"
        [options]="markerOptions"
        (mapClick)="openInfoWindow(marker)"
      />
      <map-info-window>{{ name }}</map-info-window>
    </google-map>
  </div>
</section>
