<span>asdasdad</span>
<!-- 
  <section class="hero">
    <div class="container">
      <h1>Find Your Perfect Campament</h1>
      <form action="/search-campaments" method="post">
        <input type="text" placeholder="Search campaments">
        <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </section>
  <section id="available-campaments">
    <div class="container">
      <h2>Available Campaments</h2>
      <div class="campaments-grid">
        <div class="campament-card">
            <h3>Campament 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a faucibus malesuada.</p>
            <a [routerLink]="['manager']" class="book-btn">Book Now</a>
            </div>
            <div class="campament-card">
            <h3>Campament 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a faucibus malesuada.</p>
            <a href="#" class="book-btn">Book Now</a>
            </div>
            <div class="campament-card">
            <h3>Campament 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a faucibus malesuada.</p>
            <a href="#" class="book-btn">Book Now</a>
            </div>
            </div>
            </div>
            </section>
            <section id="book-a-campament">
            <div class="container">
            <h2>Book Your Campament</h2>
            <form action="/book-campament" method="post">
            <label for="campament-name">Campament Name</label>
            <input type="text" id="campament-name" name="campament-name" required>
            
            <label for="check-in">Check-in</label>
            <input type="date" id="check-in" name="check-in" required>
            
            <label for="check-out">Check-out</label>
            <input type="date" id="check-out" name="check-out" required>
            
            <label for="guests">Number of guests</label>
            <input type="number" id="guests" name="guests" min="1" required>
            
            <input type="submit" value="Book Now">
            </form>
            </div>
            </section> -->
