<app-panel [fullHeight]="true" class="auth-page">
    <div class="auth-form">
      <app-login-form *ngIf="isLogin" [redirectTo]="redirectTo" />
      <app-signup-user *ngIf="isUserSignup" [redirectTo]="redirectTo" />
      <app-signup-manager *ngIf="isManagerSignup" />
      <app-forgot-password-form *ngIf="isForgotPassword" />
      <app-recovery-password-form *ngIf="isRecoveryPassword" [token]="token" />
    </div>

    <div class="app-logo">
      <img
        src="assets/svg/logo-no-text.svg"
        class="login-img"
        alt="ScoutCamp-logo"
      />
    </div>
</app-panel>
