@import '_colors.scss';

.language-selector {
  margin-right: 15px;
  position: relative;
  height: 100%;
  img {
    height: 100% !important;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

.language-options {
  position: absolute;
  top: 0;
  right: 100%;
  display: flex !important;
  align-items: center;
  padding: 10px;
  transition: width 0.3s ease;
  width: 0px;
  &.show {
    width: 100px;
  }
  .language-option {
    margin: 5px;
    width: 35px;
  }
}
