@import "_colors.scss";
@import "_variables.scss";
@import "_mixins.scss";

.camping-view {
  padding: 0 !important;
  position: relative;
  .camping-header {
    text-align: center;
    height: calc(100vh - 85px);
    margin-bottom: 45px;
    color: white;
    display: flex;
    align-items: center;
    .camping-header--wrapper {
      width: 100%;
      margin: 0 60px 60px;
      .camping-header--name {
        font-weight: 700;
        color: #ffffff;
      }
      .camping-header--description {
        margin-top: 40px;
        max-height: calc(100vh - 450px);
        overflow: hidden;
      }
      .camping-header--booking {
        color: #ffffff;
        background-color: $primary;
        border-radius: 50px;
        padding: 10px 20px;
      }
    }
  }

  .camping-index {
    position: absolute;
    top: calc(100vh - 140px);
    display: flex;
    justify-content: space-around;
    width: 100%;
    .camping-index-item {
      width: calc(100% / 4 - 20px);
      background-color: $primary;
      padding: 10px;
      border-radius: $borderRadiusLight;
      cursor: pointer;
      .camping-index-name {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 22px;
        mat-icon {
          font-size: 22px;
          margin-right: 10px;
        }
      }
    }
  }
}

.camping-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 25px;
  .card {
    border-radius: $borderRadiusLight;
    box-shadow: $boxShadowLight;
    padding: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      p {
        color: #666;
        font-size: 14px;
      }

      span {
        font-size: 14px;
        text-align: right;
        transition: text-decoration 0.3s;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
