<app-panel class='camping-view'>
  <app-loader *ngIf="loading"></app-loader>

  <ng-container *ngIf="!loading && camping?._id">
    <section
      class="camping-header"
      [style.background-size]="'cover'"
      [style.background-image]="'
      linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), \
      url(' + getImageUrl(camping?.images?.[0]) + ') \
    '"
    >
      <div class="camping-header--wrapper">
        <h1 class="camping-header--name">{{ camping?.name }}</h1>
        <p class="camping-header--description">{{ camping?.description }}</p>
        <app-button
          [text]="'campsite.book' | translate"
          (onClick)="scrollTo('booking')"
        />
      </div>
    </section>

    <section class="camping-index">
      <div class="camping-index-item">
        <div class="camping-index-name" (click)="scrollTo('gallery')">
          <mat-icon>photo</mat-icon>
          {{ 'campsite.gallery' | translate }}
        </div>
      </div>
      <div class="camping-index-item" (click)="scrollTo('location')">
        <div class="camping-index-name">
          <mat-icon>location_on</mat-icon>
          {{ 'campsite.location' | translate }}
        </div>
      </div>
      <div class="camping-index-item" (click)="scrollTo('info')">
        <div class="camping-index-name">
          <mat-icon>info</mat-icon>
          {{ 'campsite.info' | translate }}
        </div>
      </div>
      <div class="camping-index-item" (click)="scrollTo('reviews')">
        <div class="camping-index-name">
          <mat-icon>star</mat-icon>
          {{ 'campsite.reviews' | translate }}
        </div>
      </div>
    </section>

    <app-camping-view-gallery [images]="camping?.images || []" />
    <app-camping-view-location
      [name]="camping?.name"
      [location]="camping?.location"
    />

    <div class="camping-info">
      <div class="card" [ngClass]="{ 'expanded': expanded === 'rules' }" (click)="toggleCard('rules')">
        <div class="card-content">
          <h4 class="fw-b">{{ 'campsite.rules' | translate }}</h4>
          <p [ngClass]="{ 'expanded': expanded === 'rules' }">
            {{  expanded !== 'rules' ? (camping.rules | truncate:250) : camping.rules}}
          </p>
          <span>{{ expanded !== 'rules' ? ('common.viewMore' | translate) : ('common.viewLess' | translate)}}</span>
        </div>
      </div>
      <div class="card" [ngClass]="{ 'expanded': expanded === 'amenities' }" (click)="toggleCard('amenities')">
        <div class="card-content">
          <h4 class="fw-b">{{ 'campsite.amenities' | translate }}</h4>
          <p [ngClass]="{ 'expanded': expanded === 'amenities' }">
            {{  expanded !== 'amenities' ? (camping.amenities | truncate:250) : camping.amenities}}
          </p>
          <span>{{ expanded !== 'amenities' ? ('common.viewMore' | translate) : ('common.viewLess' | translate)}}</span>
        </div>
      </div>
      <div class="card" [ngClass]="{ 'expanded': expanded === 'nearestLocations' }" (click)="toggleCard('nearestLocations')">
        <div class="card-content">
          <h4 class="fw-b">{{ 'campsite.nearestLocations' | translate }}</h4>
          <p [ngClass]="{ 'expanded': expanded === 'nearestLocations' }">
            {{  expanded !== 'nearestLocations' ? (camping.nearestLocations | truncate:250) : camping.nearestLocations}}
          </p>
          <span>{{ expanded !== 'nearestLocations' ? ('common.viewMore' | translate) : ('common.viewLess' | translate)}}</span>
        </div>
      </div>
    </div>

    <app-camping-view-review [camping]="camping?._id" />

    <app-camping-view-booking
      [camping]="camping?._id || ''"
      [entryDate]="entryDate"
      [exitDate]="exitDate"
    />

  </ng-container>
</app-panel>
